.box-model{
    background-color: 5px dotted red;
    height: 450px;
    width: 450px;
}
*{
    padding: 0;
    margin: 0;
}

body{
    height: 150vh;
    width: 95vw;
    border: 5px solid black;
}

.static{
    position:static
}
