* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
    width: 100px;
    height: 100%;
    background-color: grey;
    color: black;

}
.grid-container{
    border: 4px solid lightcoral;
    height: 80vh;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.box{
    background-color: cadetblue;
}
.box:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}
.box:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 5;
    place-content: center;
    display: grid;
}
.box:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}